<div class="group" [ngClass]="isOpen ? 'is-open' : ''">
  <aside
    class="transform -translate-x-full min-h-screen flex flex-col w-64 lg:translate-x-0 lg:group-[.is-open]:w-64 lg:group-[.is-open]:translate-x-0 group-[.is-open]:translate-x-0 absolute left-0 lg:fixed z-10 lg:w-16 transition-all duration-500 ease-in-out border-r border-gray-200 bg-blue-100"
  >
    <div
      class="flex items-center justify-between flex-shrink-0 gap-4 mx-4 py-6 border-b border-gray-200"
    >
      <a routerLink="/" (click)="closeSidebar()">
        <img src="/home-icon.svg" alt="home" class="w-6 h-6" />
      </a>
      <button
        (click)="toggleSidebar()"
        class="absolute right-3 lg:-right-3 w-6 h-6 rounded-full flex items-center justify-center bg-black"
      >
        <img
          [src]="isOpen ? '/toggle-close-icon.svg' : '/toggle-open-icon.svg'"
          [alt]="isOpen ? 'Close sidebar' : 'Open sidebar'"
          class="w-6 h-6 invert"
        />
      </button>
    </div>

    <a
      routerLink="/dashboard"
      routerLinkActive="text-gray-900 bg-blue-500"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeSidebar()"
      class="flex items-center gap-3 mx-1 text-sm font-medium py-3 justify-center group-[.is-open]:px-2 group-[.is-open]:justify-start rounded-xl transition-all duration-500 hover:bg-blue-800 whitespace-nowrap mb-4"
    >
      <img src="/dashboard-icon.svg" alt="dashboard" class="w-6 h-6" />
      <span
        class="hidden group-[.is-open]:inline-block transition-all duration-500 ease-in-out"
      >
        Dashboard
      </span>
    </a>

    <a
      routerLink="/products"
      routerLinkActive="text-gray-900 bg-blue-500"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeSidebar()"
      class="flex items-center gap-3 mx-1 text-sm font-medium py-3 justify-center group-[.is-open]:px-2 group-[.is-open]:justify-start rounded-xl transition-all duration-500 hover:bg-blue-800 whitespace-nowrap mb-4"
    >
      <img src="/stock-icon.svg" alt="stock" class="w-6 h-6" />
      <span
        class="hidden group-[.is-open]:inline-block transition-all duration-500 ease-in-out"
      >
        Products
      </span>
    </a>
  </aside>

  <div
    class="h-full overflow-y-auto ml-auto transition-all duration-500 w-full lg:pl-16 group-[.is-open]:lg:pl-64"
  >
    <div class="flex lg:hidden items-center gap-3 bg-blue-50">
      <button
        (click)="toggleSidebar()"
        class="w-6 h-6 m-4 rounded-full flex items-center justify-center"
      >
        <img src="/menu-icon.svg" alt="menu" class="w-6 h-6" />
      </button>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
