<h1 class="text-xl font-bold mb-4 text-center">Product List</h1>

<table class="w-full border-collapse border border-gray-300">
  <thead>
    <tr class="bg-gray-100">
      <th class="p-2 border">Name</th>
      <th class="p-2 border">Flavor</th>
      <th class="p-2 border">Price</th>
      <th class="p-2 border">Stock</th>
      <th class="p-2 border">Sold</th>
      <th class="p-2 border">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (product of products; track product.id) {
    <tr>
      <td class="p-2 border">
        @if (editingProductId === product.id) {
        <input
          type="text"
          class="w-full border p-1 rounded"
          [(ngModel)]="product.name"
          name="name-{{ product.id }}"
        />
        } @else {
        {{ product.name }}
        }
      </td>
      <td class="p-2 border">
        @if (editingProductId === product.id) {
        <input
          type="text"
          class="w-full border p-1 rounded"
          [(ngModel)]="product.flavor"
          name="flavor-{{ product.id }}"
        />
        } @else {
        {{ product.flavor }}
        }
      </td>
      <td class="p-2 border">
        @if (editingProductId === product.id) {
        <input
          type="number"
          class="w-full border p-1 rounded"
          [(ngModel)]="product.price"
          name="price-{{ product.id }}"
          min="0"
        />
        } @else {
        {{ product.price }}
        }
      </td>
      <td class="p-2 border">
        @if (editingProductId === product.id) {
        <input
          type="number"
          class="w-full border p-1 rounded"
          [(ngModel)]="product.stock"
          name="stock-{{ product.id }}"
          min="0"
        />
        } @else {
        {{ product.stock }}
        }
      </td>
      <td class="p-2 border">
        @if (editingProductId === product.id) {
        <input
          type="number"
          class="w-full border p-1 rounded"
          [(ngModel)]="product.sold"
          name="sold-{{ product.id }}"
          min="0"
        />
        } @else {
        {{ product.sold }}
        }
      </td>
      <td class="p-2 border">
        <button
          class="ml-2 bg-yellow-600 text-white px-2 py-1 rounded hover:bg-yellow-700"
          (click)="editProduct(product.id)"
        >
          Edit
        </button>
        <button
          class="bg-red-600 text-white px-2 py-1 rounded hover:bg-red-700"
          (click)="deleteProduct(product.id)"
        >
          Delete
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>

@if (showModal) {
<app-product-modal (close)="showModal = false" />
}

<button
  class="mt-4 bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700"
  (click)="showModal = true"
>
  + Add Product
</button>
