<div class="m-4 p-6 min-h-screen">
  <div class="overflow-x-auto">
    <table
      class="min-w-full table-fixed bg-white rounded-lg shadow overflow-hidden"
    >
      <colgroup>
        <col class="w-1/6" />
        <col class="w-1/6" />
        <col class="w-1/6" />
        <col class="w-1/6" />
        <col class="w-1/6" />
        <col class="w-1/6" />
      </colgroup>
      <thead class="bg-gray-300">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">
            Name
          </th>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-600">
            Flavor
          </th>
          <th class="px-4 py-2 text-right text-sm font-medium text-gray-600">
            Price
          </th>
          <th class="px-4 py-2 text-right text-sm font-medium text-gray-600">
            Stock
          </th>
          <th class="px-4 py-2 text-right text-sm font-medium text-gray-600">
            Sold
          </th>
          <th class="px-4 py-2 text-center text-sm font-medium text-gray-600">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        @for (product of products; track product.id) {
        <tr class="border-b border-gray-200 even:bg-gray-100">
          <td class="whitespace-nowrap">
            @if (editingProductId === product.id) {
            <input
              type="text"
              class="block w-full box-border px-4 py-3 border border-gray-300 bg-white rounded"
              [(ngModel)]="product.name"
              name="name-{{ product.id }}"
            />
            } @else {
            <span
              class="block w-full box-border px-4 py-3 border border-transparent rounded"
            >
              {{ product.name }}
            </span>
            }
          </td>

          <td class="whitespace-nowrap">
            @if (editingProductId === product.id) {
            <input
              type="text"
              class="block w-full box-border px-4 py-3 border border-gray-300 bg-white rounded"
              [(ngModel)]="product.flavor"
              name="flavor-{{ product.id }}"
            />
            } @else {
            <span
              class="block w-full box-border px-4 py-3 border border-transparent rounded text-gray-600"
            >
              {{ product.flavor }}
            </span>
            }
          </td>

          <td class="whitespace-nowrap">
            @if (editingProductId === product.id) {
            <input
              type="number"
              class="block w-full box-border px-4 py-3 border border-gray-300 bg-white rounded text-right"
              [(ngModel)]="product.price"
              name="price-{{ product.id }}"
              min="0"
            />
            } @else {
            <span
              class="block w-full box-border px-4 py-3 border border-transparent rounded text-right"
            >
              ${{ product.price }}
            </span>
            }
          </td>

          <td class="whitespace-nowrap">
            @if (editingProductId === product.id) {
            <input
              type="number"
              class="block w-full box-border px-4 py-3 border border-gray-300 bg-white rounded text-right"
              [(ngModel)]="product.stock"
              name="stock-{{ product.id }}"
              min="0"
            />
            } @else {
            <span
              class="block w-full box-border px-4 py-3 border border-transparent rounded text-right"
            >
              {{ product.stock }}
            </span>
            }
          </td>

          <td class="whitespace-nowrap">
            @if (editingProductId === product.id) {
            <input
              type="number"
              class="block w-full box-border px-4 py-3 border border-gray-300 bg-white rounded text-right"
              [(ngModel)]="product.sold"
              name="sold-{{ product.id }}"
              min="0"
            />
            } @else {
            <span
              class="block w-full box-border px-4 py-3 border border-transparent rounded text-right"
            >
              {{ product.sold }}
            </span>
            }
          </td>

          <td class="px-4 py-3">
            <div
              class="flex flex-col sm:flex-row items-center justify-center space-y-2 sm:space-y-0 sm:space-x-2"
            >
              @if (editingProductId === product.id) {
              <button
                class="w-full sm:w-auto bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 transition"
                (click)="saveEdit(product)"
              >
                Save
              </button>
              <button
                class="w-full sm:w-auto bg-gray-500 px-3 py-1 rounded hover:bg-gray-600 transition"
                (click)="cancelEdit()"
              >
                Cancel
              </button>
              } @else {
              <button
                class="w-full sm:w-auto bg-yellow-600 text-white px-3 py-1 rounded hover:bg-yellow-700 transition"
                (click)="editProduct(product.id)"
              >
                Edit
              </button>
              <button
                class="w-full sm:w-auto bg-red-700 text-white px-3 py-1 rounded hover:bg-red-800 transition"
                (click)="deleteProduct(product.id)"
              >
                Delete
              </button>
              }
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  @if (showModal) {
  <app-product-modal (close)="onFormSubmit()" />
  }

  <div class="mt-6 text-right">
    <button
      class="bg-green-800 text-white px-5 py-2 rounded hover:bg-green-900 transition"
      (click)="showModal = true"
    >
      + Add Product
    </button>
  </div>
</div>
