<div class="min-h-screen flex items-center justify-center p-6">
  <div class="w-full max-w-7xl m-4 p-6 rounded-2xl">
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-10 items-stretch"
    >
      <app-card
        title="Top 3 Best-Selling Products"
        class="flex flex-col h-full"
      >
        <ul class="space-y-3">
          @for (product of topSellers; track product.id) {
          <li
            class="flex items-center justify-between bg-gray-50 border border-gray-200 p-3 rounded gap-5"
          >
            <img
              [src]="product.badge"
              [alt]="'Rank ' + (topSellers.indexOf(product) + 1) + ' badge'"
              class="w-8 h-8"
            />
            <div class="flex-1">
              <div class="font-medium text-gray-800">{{ product.name }}</div>
              <div class="text-sm text-gray-600">Sold: {{ product.sold }}</div>
            </div>
          </li>
          }
        </ul>
      </app-card>

      <app-card title="Low Stock Alerts" class="flex flex-col h-full">
        <div class="flex-1">
          @if (lowStock.length > 0) {
          <ul class="space-y-3">
            @for (product of lowStock; track product.id) {
            <li
              class="flex flex-col sm:flex-row sm:justify-between sm:items-center bg-red-50 border border-red-200 p-3 rounded text-center sm:text-left"
            >
              <div class="flex-1 space-y-1">
                <div class="font-medium text-red-800">{{ product.name }}</div>
                <div class="text-sm text-red-600">
                  Only {{ product.stock }} left in stock
                </div>
              </div>
              <button
                class="mt-3 sm:mt-0 w-full sm:w-auto bg-blue-600 text-white text-sm px-3 py-1 rounded hover:bg-blue-700 transition"
                (click)="restockProduct(product.id)"
              >
                Restock
              </button>
            </li>
            }
          </ul>
          } @else {
          <div
            class="flex flex-col items-center justify-center h-full space-y-2 text-gray-600"
          >
            <img src="/tick-icon.svg" alt="stock" class="w-12 h-12" />
            <h3 class="text-lg font-semibold">All stock levels are healthy</h3>
            <p class="text-sm">No products need restocking at the moment.</p>
          </div>
          }
        </div>
      </app-card>

      <app-card class="flex flex-col h-full">
        <canvas
          baseChart
          [data]="pieData"
          [type]="pieType"
          [options]="pieOptions"
          class="flex-1"
        ></canvas>
      </app-card>

      <app-card class="flex flex-col h-full">
        <canvas
          baseChart
          [data]="barData"
          [type]="barType"
          [options]="barOptions"
          class="flex-1"
        ></canvas>
      </app-card>
    </div>
  </div>
</div>
